*.iml
.gradle
/local.properties
local.properties
# idea project files
.idea/
.idea/.name
*.iml
*.ipr 
*.iws
.DS_Store
/build
/captures
.externalNativeBuild
*.dex
*.class
##Gradle-based build
.gradle
build/